/* Ini css ya geis*/

/* Bagian NavBar*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
}

nav {
    display: flex;
    
}

nav>a {
    border: 1px solid;
    padiing: 8px;
    color: black;
    text-decoration: none;
    margin-left: 20px;
    color: white;
    padding: 8px 15px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    font-weight: bold;
}

nav>a  :hover {
    background-color: #575757;
    border-radius: 5px;
    border-color: #444;
}

/* Logo pada navbar*/
.logo-icon {
    height: 50px;
    width: 50px;
    background-image: url(../assets/logo.png);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    display: flex;
    align-items: center;
}


.inline {
    display: inline;
    font-size: xx-large;
}

/*Welcome Side*/

.well {
    margin-top: 20px;
}

article {
    font-size: large;
}


/*Photo Silde*/

.photo-banner {
    background-position: center;
    background-size: cover;
    height: 1000px;
}

.photo-1 {
    background-image: url(../assets/photo-0.jpg);
}
.photo-2 {
    background-image: url(../assets/photo-1.jpg);
}

.photo-3 {
    background-image: url(../assets/photo-2.jpg);
}

/*Profil gue*/

.my {
    font-size: xx-large;
}

.mep {
    margin-top: 10px;
    margin-bottom: 25px;
    padding-top: 10px;
}

.profile-icon-container {
    display: flex;
    justify-content: space-evenly;
}

.profil-1 {
    height: 300px;
    width: 300px;
    background-image: url(../assets/profil-0.JPG);
    background-size: cover;
    background-position: center;
    border-radius: 150px;
}

.profil-2 {
    height: 300px;
    width: 300px;
    background-image: url(../assets/profil-1.jpg);
    background-size:cover;
    background-position: center;
    border-radius: 150px;
}

.profil-3 {
    height: 300px;
    width: 300px;
    background-image: url(../assets/profil-2.JPG);
    background-size: cover;
    background-position: center;
    border-radius: 150px;
}

.arcticle-profile {
    font-size: 24px;
    margin-top: 20px;
}


/*form*/

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
    width: 800px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.output-container { 
    width: 50%;
    border: 1px solid black;
    padding: 10px;
}
container>output-container {
    margin-bottom: 20px;
    margin-top: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    margin-right: 50px;
}
.gender {

}
label {
    margin-right: 10px;
}
.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid black;    
    cursor: pointer;
}


/*rensponsive*/
/*max-width akan menerapkan style di bawah ukuran yang di tentukan
min-width akan menerapkan style di atas ukuran yang di tentukan*/
@media only screen and (max-width: 600px) {
    .main-header {
        flex-direction: column;
    }
    .container {
        max-width: 90%;
    };
}

.textmade {
    text-align: right;
}

/*portofolio*/

.pt {
    font-size: x-large;
}

/* Judul bagian */
h2 {
    margin-bottom: 10px;
    color: #333;
}

/* Gaya daftar pendidikan dan keterampilan */
ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Bagian tentang saya */
.about-section, .education-section, .skills-section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Gaya gambar profil */
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.header-portofolio {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Gaya umum */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
}